.products {
    position: relative;
}
#dashCard {
    margin: 1rem 1rem;
    @media (max-width: 768px) {
        margin: 1rem 2rem;
    }
}
#mihrapCard {
    position: relative;
    margin: 1rem 1rem;
    .card-title,
    .card-text {
        @media (max-width: 768px) {
            font-size: 0.7rem;
        }
    }
    .row {
        .col {
            @media (max-width: 320px) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}
#karoCard {
    position: relative;

    margin: 1rem 1rem;
    .card-title,
    .card-text {
        @media (max-width: 768px) {
            font-size: 0.7rem;
        }
    }
    .row {
        .col {
            @media (max-width: 320px) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}
#mimberCard {
    position: relative;
    margin: 1rem 1rem;
    .card-title,
    .card-text {
        @media (max-width: 768px) {
            font-size: 0.7rem;
        }
    }
    .row {
        .col {
            @media (max-width: 320px) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}
#kursuCard {
    position: relative;

    margin: 1rem 1rem;
    .card-title,
    .card-text {
        @media (max-width: 768px) {
            font-size: 0.7rem;
        }
    }
    .row {
        .col {
            @media (max-width: 320px) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    img {
        // object-fit: contain;
        width: auto;
        max-height: 600px;
    }
}
