.navbar {
    position: sticky !important;
    top: 0;
    z-index: 1070;
}

#header {
    position: sticky !important;
    top: 58px;
    border: 1px solid rgb(204, 201, 201);
    background-color: rgba($color: #f8f8f8, $alpha: 1);
    z-index: 1060;
}
.nav-link {
    position: relative;
}

// Navbar Sub Menü CSS
.dropdown-submenu .dropdown-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 50%;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
}
// .dropdown-toggle {
//     transition: transform 0.3s ease-in-out;
//     transform: rotate(90deg);
// }

.nav-link {
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.nav-link:hover {
    background-color: $teal;
    border-radius: 10px;
}
// .navbar-brand:hover {
//     background-color: $teal;
//     border-radius: 10px;
// }
