.swiperContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -20vh;
    position: relative;
    z-index: -50;
}
.mySwiper {
    width: 50%;
    height: 60%;
    img {
        display: block;
        width: 100%;
        height: 100%;
        border: 10px outset #ffff;
        object-fit: cover;
    }
}
